.root{
    width: 100%;;
}
.wrapper-box{
    background-color: #126365;
    color: #fff;
    min-width: 500px;
    padding: 20px;
    border-radius: 8px;
    height: 430px;
}

.question-box h3{
    border-bottom:1px solid rgba(255,255,255,.3);
        padding-bottom: 20px;
        font-weight: 500;
}
.question-box ul{ 
    padding-top: 30px;
}

.question-box li { 
    list-style: none;
    border:1px solid #fff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.wrapper-box .index-question{
    text-align: center;
    font-size: 12px;
    margin-top: 22px;
    font-weight: 500;
}

.wrapper-box .bottom{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.wrapper-box button{
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #ffffff;
    display: block;
    height: 30px;
    color: #fff;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 18px;
    margin-top: 15px;
}

.wrapper-box button.disabled{
    opacity: .5;
    cursor: initial;
}

.wrapper-box .bottom span{
font-size: 15px;
margin-top: 10px;
display: block;
}

.correct {
  border : 1px solid #77DD77 !important;
}

.incorrect {
  border:1px solid #FF6F61 !important
}

@media screen and (max-width: 800px) {
    #root{
        width: 100%;
        padding: 0 20px;
    }
.wrapper-box{
    max-width: 100%;
    margin: auto;
    min-width: initial;
    height: auto;
}
}
